---
title: "ADHD: 5 myths, busted by a Babylon doctor "
preheader: "ADHD: 5 myths, busted by a Babylon doctor "
image: https://res.cloudinary.com/endersgame/image/upload/v1670384598/babylon/brain.png
bodyClass: bg-slate-50
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-slate-50 sm:px-4">
          <table class="w-150 sm:w-full">
            <tr class="h-3"></tr>
            <tr>
              <td>
                <table class="w-full bg-little_boy_blue">
                  <tr class="h-6"></tr>
                  <tr>
                    <td class="w-12"></td>
                    <td>
                      <img
                        src="https://res.cloudinary.com/endersgame/image/upload/v1670384597/babylon/logo.png"
                        alt="logo"
                        class="w-24"
                      />
                    </td>
                    <td class="text-right">
                      <img
                        src="https://res.cloudinary.com/endersgame/image/upload/v1670384599/babylon/heart.gif"
                        alt="heart"
                        class="w-14"
                      />
                    </td>
                    <td class="w-12"></td>
                  </tr>
                  <tr class="h-6"></tr>
                  <tr>
                    <td class="w-12"></td>
                    <td>
                      <h1 class="text-violet-900 font-semibold text-2xl">
                        ADHD: 5 myths, busted by a Babylon doctor
                      </h1>
                    </td>
                    <td class="w-12"></td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- Brain -->
            <tr>
              <td class="bg-white">
                <img
                  src="https://res.cloudinary.com/endersgame/image/upload/v1670384598/babylon/brain.png"
                  alt="brain"
                  class="w-full"
                />
              </td>
            </tr>
            <!-- Greetings -->
            <tr>
              <td>
                <table class="w-full bg-white">
                  <tr>
                    <td class="w-12"></td>
                    <td class="bg-white">
                      <p class="text-violet-900 text-base">Hi Robert,</p>
                      <p class="text-violet-900 text-base">
                        You may or may not already be familiar with ADHD, but
                        it's something that we all should know a bit more about
                        <a href="#" class="text-violet-900"
                          >(see my latest blog)</a
                        >.
                      </p>
                      <p class="text-violet-900 text-base">
                        ADHD can have a real impact on someone’s day-to-day
                        life. Awareness of it is key to people getting the help
                        they need early on in their lives.
                      </p>
                      <p class="text-violet-900 text-base">
                        And remember, if you think you or someone dear to you
                        may have ADHD, an appointment with a Babylon clinician
                        is only a few steps away
                      </p>
                      <p class="text-violet-900 text-base">
                        Best of health, <br />
                        Dr Catherine Hyatt (she/her)
                      </p>
                    </td>
                    <td class="w-12"></td>
                  </tr>
                </table>
                <!-- Let's bust some myths button -->
                <table class="w-full bg-white">
                  <tr>
                    <td>
                      <table>
                        <tr>
                          <th class="w-12"></th>
                          <th
                            class="bg-violet-900 hover:bg-violet-800 rounded mso-padding-alt-[12px_48px]"
                          >
                            <a
                              href="https://maizzle.com"
                              class="block py-3 px-12 text-white text-sm leading-full [text-decoration:none]"
                            >
                              Let's bust some myths
                            </a>
                          </th>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <!-- Horizontal separator line -->
                <table class="w-full bg-white" role="separator">
                  <tr>
                    <td class="w-12"></td>
                    <td class="pt-6">
                      <div class="bg-violet-900 h-px leading-px">&zwnj;</div>
                    </td>
                    <td class="w-12"></td>
                  </tr>
                </table>
                <!-- Download the Babylon app -->
                <table class="w-full bg-white">
                  <tr>
                    <td class="w-12"></td>
                    <td>
                      <h2 class="text-violet-900 text-2xl">
                        Download the Babylon app
                      </h2>
                      <p class="text-violet-900 text-base">
                        Book appointments in a few taps, use our free in-app
                        health tools and more.
                      </p>
                    </td>
                    <td class="w-12"></td>
                  </tr>
                </table>
                <!-- Download the app button -->
                <table class="w-full bg-white">
                  <tr>
                    <td>
                      <table>
                        <tr>
                          <th class="w-12"></th>
                          <th
                            class="bg-violet-900 hover:bg-violet-800 rounded mso-padding-alt-[12px_48px]"
                          >
                            <a
                              href="https://maizzle.com"
                              class="block py-3 px-14 text-white text-sm leading-full [text-decoration:none]"
                            >
                              Download the app
                            </a>
                          </th>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <!-- Is this email helpful -->
                <table class="w-full bg-white">
                  <tr class="h-12"></tr>
                  <tr>
                    <td>
                      <table>
                        <tr>
                          <td class="w-12"></td>
                          <td>
                            <p class="text-violet-900 font-semibold">
                              Is this email helpful?
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <!-- Thumbs -->
                <table class="w-full bg-white">
                  <tr>
                    <td>
                      <table>
                        <tr>
                          <td class="w-12"></td>
                          <td>
                            <a href="#">
                              <img
                                class="w-12"
                                src="https://res.cloudinary.com/endersgame/image/upload/v1670384598/babylon/thumbs_up.png"
                                alt="thumbs up"
                              />
                            </a>
                          </td>
                          <td class="w-6"></td>
                          <td>
                            <a href="#">
                              <img
                                class="w-12 pt-6"
                                src="https://res.cloudinary.com/endersgame/image/upload/v1670384598/babylon/thumbs_down.png"
                                alt="thumbs down"
                              />
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr class="h-6"></tr>
                </table>
                <!-- Footer -->
                <table class="w-full bg-slate-100">
                  <tr class="h-10"></tr>
                  <tr>
                    <td>
                      <table>
                        <tr>
                          <td class="w-12"></td>
                          <td>
                            <p class="text-violet-900 text-sm">
                              <a href="#" class="text-violet-900"
                                >Book an appointment</a
                              >
                              |
                              <a href="#" class="text-violet-900"
                                >Healthcheck</a
                              >
                              |
                              <a href="#" class="text-violet-900"
                                >Symptom Checker</a
                              >
                            </p>
                          </td>
                          <td class="w-12"></td>
                        </tr>
                        <tr class="h-12"></tr>
                        <tr>
                          <td class="w-12"></td>
                          <td>
                            <p class="text-violet-900 text-sm">
                              Download the free Babylon app.
                            </p>
                            <p class="text-violet-900 text-sm">
                              <a href="#" class="text-violet-900">App Store</a>
                              |
                              <a href="#" class="text-violet-900"
                                >Google Play</a
                              >
                            </p>
                          </td>
                          <td class="w-12"></td>
                        </tr>
                        <tr class="h-10"></tr>
                        <tr>
                          <td class="w-12"></td>
                          <td>
                            <p class="text-violet-900 text-sm">
                              <a href="#" class="text-violet-900">Facebook</a> |
                              <a href="#" class="text-violet-900">Twitter</a> |
                              <a href="#" class="text-violet-900">Linkedin</a> |
                              <a href="#" class="text-violet-900">Instagram</a>
                              |
                              <a href="#" class="text-violet-900">YouTube</a> |
                            </p>
                          </td>
                          <td class="w-12"></td>
                        </tr>
                        <tr class="h-12"></tr>
                        <tr>
                          <td class="w-12"></td>
                          <td>
                            <p class="text-violet-900 text-sm">
                              <a href="#" class="text-violet-900"
                                >Babylon Healthcare Services Limited, 1
                                Knightsbridge Green, London, SW1X 7QA 0330 303
                                8000 | Send us a message</a
                              >
                            </p>
                          </td>
                        </tr>
                        <tr class="h6"></tr>
                        <tr>
                          <td class="w-12"></td>
                          <td>
                            <p class="text-violet-900 text-sm">
                              <a href="#" class="text-violet-900"
                                >Unsubscribe from Babylon updates here</a
                              >
                              |
                              <a href="#" class="text-violet-900"
                                >Privacy policy</a
                              >
                            </p>
                          </td>
                          <td class="w-12"></td>
                        </tr>
                        <tr class="h6"></tr>
                        <tr>
                          <td class="w-12"></td>
                          <td>
                            <p class="text-violet-900 text-sm">
                              Ref number: CRM-253
                            </p>
                          </td>
                          <td class="w-12"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
